<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>

<body>
    <h1>Welcome to the online library</h1>
    <p>please log in or register</p>

    <form action="/user/userLogin" method="post">
        username：<input type="text" name="name" /><br> <!-- 这个地方name=是name还是username？ -->
        password ：<input type="password" name="password" /><br>
        <input type="submit" value="login" />
        <a href="/user/registerPage" target="_blank">register</a>
    </form>

<script>

</script>

</body>
</html>